$primary-color: #252525;
$text-color: #ffffff;
$secondary-color: #e5493a;
$menu-color: #707070;
$banner-text: #555555;

$tablet-width: 768px;
$mobile-width: 498px;
$primary-font: "Roboto" ,"Arial", sans-serif;
$secondary-font:  "Raleway" ,"Arial", sans-serif;
